html, body {
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;

}

main {
  flex-grow: 1;
}

.footer, .banner {
  flex-shrink: 0;
}
.navbar-toggler-close-icon {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;

}

.navbar .btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #7c7c7d;
}
.navbar .btn:hover {
  color: #4a4a4b;

}

.navbar .btn i {
  font-size: 2.5rem;

}

.navbar .navbar-brand {
  display: flex;
  align-items: center;

}



