<!DOCTYPE html>
<html lang="it" class="dark">
<head>
  {{ partial "head.html" . }}
</head>
<body class="min-h-screen bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 flex flex-col">



<!-- Navbar -->
{{ partial "nav.html" . }}

<!-- Main content -->
<main role="main" class="flex-grow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    {{ block "main" . }}{{ end }}
  </div>
</main>

<!-- Footer -->
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
