{{ define "main" }}
<!-- Contenitore principale con supporto per la modalità scura -->
<div class="container mx-auto mt-5 px-4 {{ if .Site.Params.theme }}dark{{ else }}light{{ end }}">
  <h1 class="text-3xl font-semibold text-gray-900 dark:text-white">{{ .Title }}</h1>
  <br>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {{ range .Pages }}
    <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white dark:bg-gray-800">
      <!-- Immagine della card (se presente) -->
      {{ if .Params.image }}
      <img class="w-full h-auto object-cover" src="{{ .Params.image }}" alt="{{ .Title }}">
      {{ end }}

      <!-- Corpo della card -->
      <div class="px-6 py-4 flex-1">
        <h5 class="text-xl font-semibold text-gray-900 dark:text-white">{{ .Title }}</h5>
        <p class="text-gray-700 text-base dark:text-gray-300">{{ .Summary | truncate 200 "..." }}</p>
      </div>

      <!-- Tasto "Continua a leggere" sempre in fondo -->
      <div class="px-6 pt-4 pb-2 mt-auto">
        <a href="{{ .RelPermalink }}" class="text-white bg-gray-800 hover:bg-gray-700 rounded px-4 py-2 inline-block w-full text-center">Continua a leggere</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
