{{ define "main" }}
{{ $mesi := dict "January" "Gennaio" "February" "Febbraio" "March" "Marzo" "April" "Aprile" "May" "Maggio" "June" "Giugno" "July" "Luglio" "August" "Agosto" "September" "Settembre" "October" "Ottobre" "November" "Novembre" "December" "Dicembre" }}
<div class="container mt-5">
  <article class="blog-post">
    <header class="mb-4">
      <h1 class="display-4">{{ .Title }}</h1>
      {{ $mese := index $mesi (.Date.Format "January") }}
      <p class="text-muted">Scritto il: {{ .Date.Format "2" }} {{ $mese }} {{ .Date.Format "2006" }} <br>
        Autore:  {{.Params.author}}
      </p>
      
    </header>
    <section class="post-content">
      {{ .Content }}
    </section>
  </article>
</div>
{{ end }}
